<div class="scorerow white {{#if you}}you{{/if}}">
  <div class="col">
    <h2 class="text">{{num}}<text class="ligature">{{suffix}}</text></h2> </div>
  <div class="col">
    <h2 class="text"> {{name}} </h2></div>
  <div class="col">
    <h4 class="text">{{affiliation}} </h4></div>
  <div class="col">
    <h2 class="text">{{score}}<text class ="h5 color-grey-600"> XP </text></h2>
  </div>
</div>
